.nav-container {
  /*font-size: calc(17 / var(--rem-base) * 1rem);*/
  font-size: 0.7rem;
}

@media screen and (min-width: 769px) {
  .nav-container {
    /*width: var(--nav-width);*/
    width: 25rem;
  }
}
@media screen and (min-width: 1024px) {
  .doc {
    /*max-width: var(--doc-max-width--desktop);*/
    max-width: 70rem;
  }
  aside.toc.sidebar {
    /*-ms-flex-preferred-size: 12rem;*/
    flex-basis: 18rem;
  }
}
