<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{!-- <a class="navbar-item" href="{{site.path}}">Home</a> --}}
        {{!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Services</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Service A</a>
            <a class="navbar-item" href="#">Service B</a>
            <a class="navbar-item" href="#">Service C</a>
          </div>
        </div> --}}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://gitlab.com/datahandwerk/DataHandwerk-toolkit-mssql" target="_blank">dhw project on GitLab</a>
            <a class="navbar-item" href="https://gitlab.com/datahandwerk/DataHandwerk-toolkit-mssql/-/issues" target="_blank">dhw issues on GitLab</a>
            <a class="navbar-item" href="https://datahandwerk.zulipchat.com/" target="_blank">dhw community on Zulip (streams with topics)</a>
            {{!-- <a class="navbar-item" href="https://dev.azure.com/DataHandwerk/89a7b008-69b9-42e4-b31f-4c2dfb6bd49a/_boards/board/t/f3077374-71b6-4a5b-bfd6-24a792bbc352/Microsoft.RequirementCategory/" target="_blank">Azure Boards</a> --}}
            {{!-- <a class="navbar-item" href="https://github.com/DataHandwerk/DataHandwerk-toolkit-mssql/discussions" target="_blank">Discussions</a> --}}
            {{!-- <a class="navbar-item" href="https://dev.azure.com/DataHandwerk/DataHandwerk-toolkit-mssql/_boards/board/t/DataHandwerk-toolkit-mssql%20Team/Stories" target="_blank">Azure Boards</a> --}}
          </div>
        </div>
        {{#if env.SITE_SEARCH_PROVIDER}}
        <div class="navbar-item search hide-for-print">
          <div id="search-field" class="field">
            <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
          </div>
        </div>
        {{/if}}
        {{!-- <div class="navbar-item">
          <form action="https://www.google.com/search" method="get" target="searchresult">
              <input type="hidden" name="q" value="site:datahandwerk.gitlab.io">
              <input type="text" name="q" alt="search">
              <input type="submit" value="Search">
          </form>
        </div> --}}
        {{!-- <div class="navbar-item">
          <form action="https://www.google.com/search" class="d-flex">
                  <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <input name="q" type="hidden" value="site:datahandwerk.github.io">
                  <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div> --}}
        {{!-- <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">Download</a>
          </span>
        </div> --}}
      </div>
    </div>
  </nav>
</header>
